<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @group_eval.year_id %>
</p>

<p>
  <strong>Semester:</strong>
  <%= @group_eval.semester %>
</p>

<p>
  <strong>School:</strong>
  <%= @group_eval.school_id %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @group_eval.grade %>
</p>

<p>
  <strong>Group:</strong>
  <%= @group_eval.group_id %>
</p>

<p>
  <strong>Evaluator user:</strong>
  <%= @group_eval.evaluator_user_id %>
</p>

<p>
  <strong>Evaluator group user:</strong>
  <%= @group_eval.evaluator_group_user_id %>
</p>

<p>
  <strong>Portf plan rating:</strong>
  <%= @group_eval.portf_plan_rating %>
</p>

<p>
  <strong>Portf analysis rating:</strong>
  <%= @group_eval.portf_analysis_rating %>
</p>

<p>
  <strong>Proto title rating:</strong>
  <%= @group_eval.proto_title %>
</p>

<p>
  <strong>Proto rating:</strong>
  <%= @group_eval.proto_rating %>
</p>

<p>
  <strong>Poster abstract rating:</strong>
  <%= @group_eval.poster_abstract_rating %>
</p>

<p>
  <strong>Poster intro abstr rating:</strong>
  <%= @group_eval.poster_intro_abstr_rating %>
</p>

<p>
  <strong>Poster mat meth rating:</strong>
  <%= @group_eval.poster_mat_meth_rating %>
</p>

<p>
  <strong>Poster results rating:</strong>
  <%= @group_eval.poster_results_rating %>
</p>

<p>
  <strong>Poster discussion rating:</strong>
  <%= @group_eval.poster_discussion_rating %>
</p>

<p>
  <strong>Poster citation rating:</strong>
  <%= @group_eval.poster_citation_rating %>
</p>

<p>
  <strong>Poster design rating:</strong>
  <%= @group_eval.poster_design_rating %>
</p>

<p>
  <strong>Poster summary comments:</strong>
  <%= @group_eval.poster_summary_comments %>
</p>

<p>
  <strong>Invalid:</strong>
  <%= @group_eval.invalid %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @group_eval.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @group_eval.updated_at %>
</p>

<%= link_to 'Edit', edit_group_eval_path(@group_eval) %> |
<%= link_to 'Back', group_evals_path %>
